body {
    font-family: 'Arial, sans-serif';
    margin: 0;
    padding: 0;
    background-color: #c2daff;
    color: #0a0a0a;
}

.container {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-family: cursive;
    color: #0B2239;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 10px;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

.balances-heading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.heading-icon {
    width: 80px;
    height: 80px;
}

.token-balances {
    flex: 1;
    margin-right: 20px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(8, 0, 84);
    max-width: 30%;
    text-align: center;
}

.token-balances h2 {
    color: #343a40;
    margin-bottom: 20px;
    font-family: cursive;
    font-size: 22px;
}

.token-list {
    list-style: none;
    padding: 0;
}

.token-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #555555;
}

.token-icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.lots-logo {
    width: 670px;
    height: 100px;
    margin: 0;
}

.intent-section {
    margin-top: 40px;
    text-align: center;
    width: 70%;
    margin: 3.5rem auto 0;
    padding: 20px;
    box-shadow: 0 0 10px rgb(253, 207, 1);
    border-radius: 10px;
    background: rgba(17, 0, 87, 0.538);
}

.intent-section h2 {
    font-family: cursive;
    color: #ffffff;
    margin-bottom: 1rem;
    font-size: 22px;
}

.intent-section input {
    width: 96%;
    height: 40px;
    padding: 7px 0 7px 25px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.solve-button {
    padding: 15px 30px;
    font-size: 19px;
    background-color: #4f006a;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: cursive;
    margin-top: 1.5rem;
}

.solve-button:hover {
    background-color: #ac8cf7;
    color: black
}